
    .heart {
        background-size:900%;
        background-position: left;
        background-repeat: no-repeat;
	    height: 60px;
	    width: 60px;
	    cursor: pointer;
	    /*position: absolute;*/
	    left:-14px;
    }
    .heart:hover, .heart:focus{
    background-position: right;
	}

    @-webkit-keyframes heartBlast {
    0% {
	    background-position: left;
	}
	100% {
	    background-position: right;
	}
	}

	@keyframes heartBlast {
	    0% {
	    background-position: left;
	}
	100% {
	    background-position: right;
	}
	}

	.heartAnimation {
    display: inline-block;
    -webkit-animation-name: heartBlast;
    animation-name: heartBlast;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: steps(28);
    animation-timing-function: steps(28);
    background-position: right;
    }
    .feed p{font-family: "Microsoft YaHei",'Georgia', Times, Times New Roman, serif; font-size: 25px;}
    .feed{clear: both; margin-bottom: :20px; height: 150px; position: relative;}
    .heart a{color: #7ac9ed;}
    .heart p{margin: 0px; padding: 0px;}
    .likeCount{font-family: 'Georgia', Times, Times New Roman, serif; margin-top: 32px;margin-left: 68px;font-size: 25px;color: #999999}
